.talbe-modal[data-v-f03d9f2d]{height:420px;overflow:auto}.titlebox[data-v-f03d9f2d]{display:flex;width:100%}.titlebox .left[data-v-f03d9f2d]{flex:1}.titlebox .right[data-v-f03d9f2d]{flex:1;text-align:right}
